# 使用 npmmirror 加速（原淘宝镜像）
registry=https://registry.npmmirror.com
# 可选：electron 二进制也走国内镜像
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
